<!DOCTYPE html>
<html>

	<head>
		<title>CodeSwap | {{project}}</title>
		<style>
		@import url(http://weloveiconfonts.com/api/?family=entypo);
		[class*="entypo-"]:before {
			font-family: 'entypo';
			font-size: 15pt;
			cursor: pointer;
			cursor: hand;
			color: white;
		}
		#ie {
			background-color: red;
			width: 100%;
			height: 100%;
			color: white;
			font-size: 20px;
		}
		/*.box {
			border: 1px solid #CCCCCC;
			padding: 5px;
			margin-bottom: 4px;
		}*/
		#ie a {
			color: lightgrey;
		}
		#right {
			position: absolute;
			right: 10px;
			display: inline;
			font-size: 12pt;
		}
		h1 {
			font-family: "Segoe UI Light",arial,sans-serif;
			display: inline;
		}
		iframe {
			background-color: white;
		}
		h2 {
			font-family: courier;
			display: inline;
		}
		p {
			font-family: Consolas,Courier,monospace;
			color: white;
		}
		#chat {
			color: white;
			font-family: arial;
			cursor: pointer;
			white-space: pre;
		}
		#codewrap, #code, .CodeMirror, #resultpanel {
			border: 1px solid #CCCCCC;
			cursor: text;
		}
		#resultpanel {
			padding: 4px 6px;
			height: 304px;
		}
		#codeframe {
			width: 100%;
			height: 90%;
			border: none;
			overflow: auto;
		}
		#CSBody {
			padding: 10px;
			background: url('{{url_for("static", filename="black.BMP")}}');
		}
		#b {
			background-color: lightgrey;
			border: 2px solid black;
			padding: 2px;
			margin-bottom: 5px;
			display: inline-block;
			font-family: "Segoe UI Light",Helvetica,Arial,sans-serif;
		}
		#code {
			width: 100%;
			font-family: Consolas,"Courier New",monospace;
		}
		#files {
			padding: 5px;
			background-color: black;
			color: white;
			height: 304px;
			font-size: 14pt;
			display: none;
		}
		#files a {
			color: #8DF;
		}
		#files a:hover {
			color: #5AC;
		}
		</style>

		<script src="{{url_for('static', filename='jquery.js')}}"></script>

		<script>
		$(function() {
			var filesDisplayed = false;
			var filename = "{{startf}}";
			
			window.displayFile = function(filename) {
				$("#codeframe").attr("src", renderRoot + filename);
			};
			
			window.newFile = function(u, pw) {
				var f = prompt("Name of new file");
				if (f) {
					jQuery.get("{{url_for('create_file', name=project)}}", {'filename':f, 'user':u, 'pw':pw}, function() {
						window.clickedFile(f);
					});
				}
			};

			window.sendMessage = function(u, pw, m) {
				jQuery.post("{{url_for('newmessage', name=project)}}", {"message":m, "pw":pw, "user":u}, function() {
					$("#message").val("");
				});
			};
			
			window.removeFile = function(u, pw, filename) {
				if (filename == "index.html") {
					alert("You cannot delete index.html")
				} else {
					var sure = confirm("Are you sure?");
					if (sure) {
						jQuery.get("{{url_for('delete_file', name=project)}}", {'filename':filename, 'user':u, 'pw':pw}, function() {
							window.clickedFile("index.html");
						});
					}
				}
			};
			
			window.toggleFiles = function() {
				//files starts with left arrow
				if (filesDisplayed) {
					//hide files
					$("#resultpanel").css("display", "block");
					$("#files").css("display", "none");
					$("#expand").removeClass("entypo-minus-circled");
					$("#expand").addClass("entypo-folder");
				} else {
					//show files
					$("#resultpanel").css("display", "none");
					$("#files").css("display", "block");
					$("#expand").removeClass("entypo-folder");
					$("#expand").addClass("entypo-minus-circled");
				}
				filesDisplayed = !filesDisplayed;
			};
			
			window.clickedFile = function(fname) {
				$("#endturn").click();
				window.displayFile(fname);
				filename = fname;
				window.toggleFiles();
			};
			
			var renderRoot = "{{url_for('render', name=project, fname='')}}";
			var editor = CodeMirror.fromTextArea($("#code").get(0), {
  				lineNumbers: true
			});
			var chatNumLines = 0;
			
			window.codeswap = function(pw, u) {
				var breakout = 0;
				var typing = false;
				$.ajax({
					type: "GET",
					url: "{{url_for('login', name=project)}}",
					async: false,
					data: {"user":u, "pw":pw},
					success: function(data) {
     					if (data == "false") {
     						$("body").html("<p>The username \"" + u + "\" has already been taken.</p><p>Please reload the page and choose a diffrent one.</p>");
     						jQuery.get("{{url_for('logout', name=project)}}", {"user":u});
     						breakout = 1;
     					} else {
     						sendMessage(u, pw, u + " has joined.");
     					}
					}
				});
				if (breakout == 1) {
					return 0;
				}

				$(".CodeMirror").attr("class", "CodeMirror cm-s-solarized");
				window.displayFile(filename);
				$("#right").html("<p>Welcome, " + u + "</p>");
				var oneSecond = 700;
				var lastid = 0;
				$("#fullscreen").click(function() {
					window.location = "/view/{{project}}/" + filename;
				});
				$("#submit").click(function() {
					var m = $("#message").val();
					window.sendMessage(u, pw, "[" + u + "] " + m);
				});

				var turndata = "{{turnopen}}";

				$("#myturn").click(function() {
					jQuery.post("{{url_for('start_turn', name=project)}}", {"name":u, "pw":pw, "user":u},function(data) {
						if (data == "false") {
							alert("Sorry, but another user clicked the button before you.");
						}
					});
				});
				$(".CodeMirror").click(function() {
					turndata = $("#whoturn").text();
					if (turndata == "{{turnopen}}") {
						$("#myturn").click();
					}
				});
				$("#endturn").click(function() {
					jQuery.get("{{url_for('end_turn', name=project)}}", {"name":u, "pw":pw, "user":u}, function(data) {
						if (data == "false") {
							console.log("This is not your turn");
						}
					});
				});
				setInterval(function() {
					jQuery.get("{{url_for('who_turn', name=project)}}", {}, function(data) {
						$("#whoturn").text(data);
						if (data != "{{turnopen}}") {
							$("#myturn").attr('disabled', 'true');
							$("#endturn").removeAttr('disabled');
						} else {
							$("#endturn").attr('disabled', 'true');
							$("#myturn").removeAttr('disabled');
						}
					}, "text");
				}, oneSecond);
				setInterval(function() {
					jQuery.get("{{url_for('who_turn', name=project)}}", {}, function(data) {
						if (data != u + " is having a turn") {
							jQuery.get("{{url_for('get_code', name=project)}}", {"filename":filename}, function(data) {
								editor.setValue(data);
							}, "text");
						} else {
							var c = editor.getValue();
							jQuery.get("{{url_for('send_code', name=project)}}", {"code":c, "filename":filename, "pw":pw, "user":u}, function(data) {if (data == "false") {
								$("body").html("<p>HACKARR!</p><p>If you see this, it means someone tried to hack your account. Sorry!</p><p><small>(Or, maybe you tried to hack someone else's)</small></p>");
							} });
						}
					}, "text");
				}, oneSecond);

				var cmes = "";

				setInterval(function() {
					jQuery.get("{{url_for('check', name=project)}}", {"lastid":lastid, "pw":pw, "user":u}, function(data) {
						var datalist = $.parseJSON(data);
						//message = {id:data}
						var maxnum = 0;
						for (var i in datalist) {
							$('#chat').text( $('#chat').text() + "\n" + datalist[i]);
							cmes = datalist[i];
							chatNumLines++;
							if (i > maxnum) {
								maxnum = i;
							}
						}
						if (maxnum > lastid) {
							lastid = maxnum;
						}
					}, "text");
				},oneSecond);

				setInterval(function() {
					jQuery.get("{{url_for('whoson', name=project)}}", {}, function(data) {
						$("#whoson").html("<p>Who's On</p><hr/>");
						var datalist = $.parseJSON(data);
						for (var i in datalist) {
							$("#whoson").append("<p>" + datalist[i] + "</p>");
						}
					}, "text");
				},oneSecond);

				setInterval(function() {
					jQuery.get("{{url_for('typing', name=project)}}", {}, function(data) {
						$("#typing").html("<p>Who's Chatting</p><hr/>");
						var datalist = $.parseJSON(data);
						for (var i in datalist) {
							if (datalist[i] == "true") {
								$("#typing").append("<p>" + i + "</p>");
							}
						}
					}, "text");
				},oneSecond);


				$(window).bind('beforeunload', function() { 
					sendMessage(u, pw, u + " has left.");
					$("#endturn").click();
					$.ajax({
						type: "GET",
						url: "{{url_for('logout', name=project)}}",
						async: false,
						data: {"user":u},
						success: function(data) {}
					});
				});

				setInterval(function() {
					if (chatNumLines > 8) {
						$("#chat").html(cmes);
						chatNumLines = 0;
						lastid = 0;
						jQuery.get("{{url_for('clearmsgs', name=project)}}", {"pw":pw, "user":u});
					}
				}, oneSecond);
				$("#expand").click(function() {
					jQuery.get("{{url_for('get_files', name=project)}}", {'user':u, 'pw':pw}, function(data) {
						$("#files").html(data);
						window.toggleFiles();
					});
				});
				var msgtimeout = false;
				$("input").bind("keydown", function(e) {
					if (e.keyCode == 13 && !msgtimeout) { //enter key
						$("#submit").click();
						msgtimeout = true;
						setTimeout(function() {
							msgtimeout = false;
						}, 3000);
					}
				});
				setInterval(function() {
					typing = true
					if ($("#message").val() == "") {
						jQuery.get("{{url_for('set_typing', name=project)}}", {"u":u, "typing":"false"});
					} else {
						jQuery.get("{{url_for('set_typing', name=project)}}", {"u":u, "typing":"true"});
					}
				}, 1000);

			};
			
			var u = prompt("Please type in your username");
			jQuery.get("{{url_for('elgible', name=project)}}", function(data) {
				if (data == "false") {
					var pw = prompt("Enter the password");
					jQuery.get("{{url_for('check_pass_login', name=project)}}", {"pw":pw, "user":u}, function(data) {
						if (data == "false") {
							$("body").html("<p>Wrong Password</p><br/><a href=''>Try Again</a>");
						} else {
							pw = data;
							window.codeswap(pw, u);
						}
					});
				} else {
					var pw = prompt("What do you want the password to be for this project?");
					jQuery.get("{{url_for('set_password', name=project)}}", {"pw":pw, "user":u}, function(data) {
						if (data == "false") {
							$("body").html("<p>HACKARR!</p>");
						} else {
							pw = data;
							window.codeswap(pw, u);
						}
					});

				}
			});
		});
		</script>
		
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
		
		<script src="{{url_for('static', filename='cm/lib/codemirror.js')}}"></script>
		
		<script src="{{url_for('static', filename='cm/mode/xml/xml.js')}}"></script>
		
		<script src="{{url_for('static', filename='cm/mode/javascript/javascript.js')}}"></script>
		
		<script src="{{url_for('static', filename='cm/mode/css/css.js')}}"></script>
		
		<script src="{{url_for('static', filename='cm/mode/htmlmixed/htmlmixed.js'
		)}}"></script>
	
		<link rel="stylesheet" href="{{url_for('static', filename='cm/lib/codemirror.css')}}"/>

		<link rel="stylesheet" href="{{url_for('static', filename='cm/theme/solarized.css')}}"/>

		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	
	</head>

	<body id="CSBody">
		<!--[if gt IE 7]>
			<div id="ie">
				<p>CodeSwap is not supported on this browser.</p>
				<p>Please <a href="https://www.google.com/intl/en/chrome/browser/">upgrade to Chrome</a>.</p>
			</div>
		<![endif]-->
		<div id="right">
			<p></p>
		</div>
		<div id="b">
			<h1><a href="/" id="bye">CodeSwap</a></h1> <h2> &lt;{{project}}&gt;</h2>
		</div>
		<div class="row-fluid" id="panel">
			<div class="span6" id="codewrap">
				<textarea id="code" class="cm-s-solarized" height="900px"></textarea>
			</div>
			<div class="span5" id="resultpanel">
				<iframe id="codeframe" src=""></iframe>
				<a id="fullscreen" href="#">Fullscreen View</a>
			</div>
			<div class="span5" id="files">
			</div>
			<span id="expand" class="entypo-folder span1"></span>
		</div>
		<div class="row">
			<div class="span12">
				<p id="whoturn">{{turnopen}}</p>
				<input id="myturn" type="button" value="Start Turn"/>
				<input id="endturn" type="button" value="End Turn" disabled="true"/>
			</div>
		</div>
		<hr/>
		<div class="row-fluid" id="chadiv">
			<div class="span8">
				<p>Chat</p>
				<div style="background-color: grey; height: 200px; width: 100%; overflow-x: auto; " id="chat">
				</div>
				<input type="text" id="message" placeholder="Type message here" autocomplete="false"></input>
				<input type="button" id="submit" value="Send">
			</div>
			<div id="typing" class="span2"></div>
			<div id="whoson" class="span2"></div>
			</div>
		</div>
	</body>

</html>
